/* Select Language*/
        .langWrap{
          float: right;
          position: relative;
          text-align:center;      
          }
           
           
      .en {
            padding-top: 1px;
            padding-left:-80px;
            margin-left:-11px;
            font-size: 10px;
            width:25px;
            height:15px;
            
        }
      
      .gr { 
            padding-top: 1px; 
            margin-right:10px!important;            
            margin-top:-15px!important;
            margin-left: 20px!important;
            font-size: 10px;
            width:25px;
            height:15px;
        }
  
        
       /* Small devices (portrait tablets and large phones, 725px and up) */
        @media only screen and (min-width: 725px) {
                                .langWrap {     
                                margin-top:53px!important;
                                display:inline-block!important;
                                 }
                                } 
                                
        /* Small devices (portrait tablets and large phones, 850px and up) */
        @media only screen and (min-width: 850px) {
                                .langWrap {     
                                margin-top:53px!important;
                                display:inline-block!important;
                                 }
                                }                    
                   
       /* Medium devices (portrait tablets and laptops, 1280px and up) */
        @media only screen and (min-width: 1280px) {
                                 .langWrap {
                                 float: right !important;
                                 position: relative!important;
                                 text-align:center;
                                 margin-top:1px!important;
                                  }                              
                              }